@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
    background: #282828;
}

.loginContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-self: center;
    font-family: "Montserrat", sans-serif;
}
.rightSideLogin {
    display: flex;
    flex: 1;
    justify-content: center;
    background-image: url("../img/bgphoto.png");
    background-size: cover;
    height: 100%;
}

.leftSideLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 60px;
}
.foxtippLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.foxtippLogo > h2 {
    font-size: 80px;
    font-weight: 800;
    color: white;
}
.foxtippLogo > h2 > span {
    color: #ffdb07;
}
.css-1u9des2-indicatorSeparator{
    background-color: transparent !important;
}
@media only screen and (max-width: 1800px) {
    .leftSideLogin {
        gap: 10px;
    }
}
@media only screen and (max-width: 960px) {
    .rightSideLogin {
        display: none;
    }
    .leftSideLogin {
        gap: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .leftSideLogin {
        padding: 0 20px;
    }
}
